﻿
@using hme.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container container-table">
    <div id="Content" class="content-login">
        @using (Html.BeginForm("Login", "Security", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-centered container-login-small animated fadeInDown">
                <div class="col-lg-12 col-login-right">
                    <div class="form-group">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="login-logo">
                                <img src="/images/HME-Logo-large.png" alt="HME" width="95" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:0;margin-bottom:0;">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 col-min-pad">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 col-min-pad">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 col-min-pad">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 col-min-pad">
                            <input type="submit" value="Login" class="btn btn-primary form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 login-copy">
                            &copy;2016 HM Electronics, Inc., all rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

